* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #444;
    color: #fefefe;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
}

.app {
    margin-top: 1.5rem;
}

.name-or-date {
    font-size: 1.5rem;
    font-weight: bold;
}
